<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.classic.AsyncAppender"/>
    <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
    <import class="ch.qos.logback.classic.PatternLayout"/>
    <import class="jp.co.dwango.logback.SlackWebhookAppender"/>

    <variable resource="logback.properties"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <if condition='isDefined("BERNER_ALERT_WEBHOOK_URL")'>
        <then>
            <appender name="WEBHOOK" class="SlackWebhookAppender">
                <webhookUrl>${BERNER_ALERT_WEBHOOK_URL}</webhookUrl>
                <timeout>50000</timeout>
                <!-- discord webhook payload -->
                <payload>
                    {
                    "username": "berner",
                    "embeds": [{
                    "title": level + " (" + hostname + ")",
                    "description": message,
                    "fields": [
                    {
                    "name": "Time",
                    "value": timestamp,
                    "inline": true
                    },
                    {
                    "name": "Level",
                    "value": level,
                    "inline": true
                    }
                    ]
                    }]
                    }
                </payload>
            </appender>

            <appender name="ASYNC_WEBHOOK" class="ch.qos.logback.classic.AsyncAppender">
                <appender-ref ref="WEBHOOK"/>
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>ERROR</level>
                </filter>
            </appender>
        </then>
    </if>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC_WEBHOOK"/>
    </root>

</configuration>
